{% extends 'base.html' %}

{% block title %}Admin Page - Employee Management System{% endblock %}

{% block content %}

<!-- username :- root 
    password :- root -->


    <div class="container mt-4">
        <h2>Admin Page</h2>

        <div class="row">
            <div class="col-md-6">
                <h3 class="title_h">Admin Features</h3>
                <p>Add and manage users, configurations, and other administrative tasks.</p>
            </div>
            <div class="col-md-6">
                <h3 class="title_h">Statistics</h3>
                <p>Display relevant statistics and information here.</p>
            </div>
        </div>
    </div>
{% endblock %}

