{% extends 'base.html' %}
{% load static %}

{% block title %}Department Management - Departments{% endblock %}

{% block content %}
    <div class="container">
        <h2>Department Management</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Floor</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ department.name }}</td>
                        <td>{{ department.floor }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
